<%#
  Copyright 2015, Google, Inc.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<h3>Search Serials</h3>


<div>
  <%= form_tag search_guitars_path, method: :get do |form| %>
    <%= select_tag :make, options_for_select(Guitar.uniq.pluck(:make)) %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<% if @guitar %>
<h2><%= @guitar.make %>  &nbsp;</h2>
<h2><%= @guitar.model %> &nbsp;</h2>
<%= @guitar.description %> &nbsp;
<%= @guitar.serial_range_start %> &nbsp;
<%= @guitar.serial_range_end %> &nbsp;
<%= @guitar.month %> &nbsp;
<%= @guitar.year %> &nbsp;

<%= render "reverb_listings", listings: @listings %>
<% elsif params[:query] %>
  No results.
<% end %>
