<%#
  Copyright 2015, Google, Inc.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<h3>Date your Guitar</h3>
<br>

<div>
  <%= form_tag search_guitars_path, method: :get do |form| %>

    <%= select_tag :make, options_for_select(Guitar.uniq.pluck(:make)) %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<% if @guitar %>

 <h2>Your <%= @guitar.make %> guitar was built in : <%= @guitar.year %></h2>
<br>
<br>

<h2> Check out the following <%= @guitar.make %> guitars on Reverb from: <%= @guitar.year %></h2>

<%= render "reverb_listings", listings: @listings %>
<% elsif params[:query] %>
  No results.
<% end %>
