<!DOCTYPE html>
<html>
  <head>
    <title>Date Your Guitar</title>
    <meta charset="utf-8">
    <meta name="viewset" content="width=device-width, initial-scale=1">

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>

  </head>
  <body>


    <div class="container">
      <% if flash.any? %>
        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type %>"><%= message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
