<!DOCTYPE html>
<html>
  <head>
    <title>Reverbify Store Manager</title>
    <meta charset="utf-8">
    <meta name="viewset" content="width=device-width, initial-scale=1">

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Guitars", guitars_path %></li>
        <li><%= link_to "Makers", makers_path %></li>
      </ul>
    </div>





    <div class="container">
      <% if flash.any? %>
        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type %>"><%= message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
